apiVersion: v1
kind: Service
metadata:
  name: mongodb-service
  namespace: yolo-app
  labels:
    app: mongodb
    tier: database
  annotations:
    description: "Internal service For MongoDB"
spec:
  type: ClusterIP
  clusterIP: None
  selector:
    app: mongodb
    tier: database
  ports:
  - port: 27017
    targetPort: 27017
    protocol: TCP
    name: mongodb