apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: yolo-app
  labels:
    app: frontend
    tier: presentation
spec:
  type: ClusterIP
  selector:
    app: frontend
    tier: presentation
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
    name: http
  sessionAffinity: ClientIP