apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: yolo-app
  labels:
    app: backend
    tier: application
spec:
  type: ClusterIP
  selector:
    app: backend
    tier: application
  ports:
  - port: 5001
    targetPort: 5001
    protocol: TCP
    name: http